@font-face {
  font-family: Ithra-Bold;
  src: url(ArbFONTS-Ithra-Bold.ttf);
}

* {
  font-family: Ithra-Bold, "Tajawal", sans-serif !important;
}

#capture {
position: relative;
text-align: center;
color: white;
padding: 0px;
height: auto;
width: 100%;
min-width: 1150px;
margin-top: 0;
margin-right: auto;
margin-left: auto;
}

#imageName {
position: absolute;
top: 89%;
left: 49%;
transform: translate(-50%, -50%);
color: #fff;
font-size: 40pt;
font-family: Calibri !important;
width: 100%;
font-weight: 600;

}
